:root {
  --background: #2a2a2a;
  --primary: #3b82f6;
  --secondary: #7cfa7c;
}

* {
  /* color-scheme: light; */
  color-scheme: dark;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  background-color: var(--background);
}
